@use '@/styles/fonts/qdon';

@use '@/styles/qdon-light/css_variables';
@use 'mastodon/variables' with (
  $emojis-requiring-inversion: 'chains'
);
@use 'common';
@use '@/styles/qdon/diff';
@use '@/styles/qdon-light/var_diff';

html {
  color-scheme: light;
}
