@use 'base';
@use 'light';
@use '../../mastodon/theme/light' as mastodon-light;
@use '../../mastodon/theme/utils' as utils;

html {
  @include base.palette;

  &:where([data-user-theme='retro95']) {
    color-scheme: light;

    @include mastodon-light.tokens;
    @include utils.invert-on-light;
    @include light.tokens;
  }
}
