html {
  scrollbar-width: thin;
}

.status__content__text,
.e-content,
.edit-indicator__content,
.reply-indicator__content {
  pre:has(> code) {
    border: 1px solid var(--color-border-primary);
    word-break: break-all;
  }
}

// Colourise mention and hashtag with qdon brand colors
// Colors change based on OS dark/light preference
@media (prefers-color-scheme: dark) {
  a.mention {
    color: var(--color-pink);
  }

  a.hashtag {
    color: var(--color-skyblue);
  }
}

@media (prefers-color-scheme: light) {
  a.mention {
    color: var(--color-dark-pink);
  }

  a.hashtag {
    color: var(--color-dark-blue);
  }
}
