html {
  scrollbar-width: thin;
}

.status__content__text,
.e-content,
.edit-indicator__content,
.reply-indicator__content {
  pre:has(> code) {
    border: 1px solid var(--color-border-primary);
    word-break: break-all;
  }
}

// Colourise mention and hashtag with qdon brand colors (dark theme)
a.mention {
  color: var(--color-pink);
}

a.hashtag {
  color: var(--color-skyblue);
}
