@use 'base';
@use 'light';
@use 'dark';
@use '../../mastodon/theme/light' as mastodon-light;
@use '../../mastodon/theme/dark' as mastodon-dark;
@use '../../mastodon/theme/utils' as utils;

html {
  @include base.palette;

  &:where([data-user-theme='retroxp']) {
    color-scheme: light dark;

    // Default: Light theme (XP Luna)
    @include mastodon-light.tokens;
    @include utils.invert-on-light;
    @include light.tokens;

    // Dark mode: XP Black Edition
    @media (prefers-color-scheme: dark) {
      @include dark.palette-dark;
      @include mastodon-dark.tokens;
      @include dark.tokens-dark;
    }
  }
}
