@use '../../mastodon/theme/utils' as utils;

// Qdon light theme token overrides
@mixin tokens {
  // Light theme uses slightly different brand color shades
  --color-skyblue: hsl(212deg 100% 65%);
  --color-dark-blue: hsl(212deg 100% 42%);
  --color-pink: hsl(304deg 100% 80%);
  --color-dark-pink: hsl(304deg 100% 36%);

  /* TEXT TOKENS */

  --color-text-brand: var(--color-dark-pink);
  --color-text-brand-on-inverted: var(--color-dark-pink);

  /* BACKGROUND TOKENS */

  // Brand
  --color-bg-brand-base: var(--color-dark-blue);
  --color-bg-brand-base-hover: hsl(212deg 100% 30%);
  --color-bg-brand-soft: #{utils.css-alpha(
      hsl(212deg 100% 42%),
      calc(var(--overlay-strength-brand) * 2)
    )};
  --color-bg-brand-softest: hsl(212deg 100% 97%);

  /* BORDER TOKENS */

  --color-border-primary: color-mix(
    in oklab,
    var(--color-bg-primary),
    var(--color-grey-950) 15%
  );

  /* GRAPHS/CHARTS TOKENS (LEGACY) */

  --color-graph-primary-stroke: var(--color-text-brand);
  --color-graph-primary-fill: var(--color-bg-brand-softest);

  /* RICH TEXT TOKENS (LEGACY) */

  --rich-text-container-color: #efefef;
  --rich-text-text-color: #181818;
  --rich-text-decorations-color: hsl(212deg 100% 65% / 100%);
}

@mixin contrast-overrides {
  /* TEXT TOKENS */

  --color-text-brand: var(--color-dark-pink);
}
