@use 'sass:color';

@use '../mastodon/functions' as * with (
  $darken-multiplier: 1,
  $lighten-multiplier: -1
);

$skyblue: hsl(212deg, 100%, 65%);
$dark-blue: hsl(212deg, 100%, 50%);
$pink: hsl(304deg, 100%, 80%);
$grey: #282c37 !default;
$dark-pink: color.adjust($pink, $lightness: -35%, $space: hsl) !default;

$mention-color: $dark-pink !default;

$black: #000; // Black
$white: #fff; // White
$blurple-500: #6364ff; // Brand purple
$grey-600: hsl(240deg, 8%, 33%); // Trout
$grey-100: hsl(240deg, 51%, 90%); // Topaz

$classic-base-color: hsl(240deg, 16%, 19%);
$classic-secondary-color: hsl(255deg, 25%, 88%);
$classic-highlight-color: $blurple-500;

@use '../mastodon/variables' with (
  $ui-primary-color: $skyblue,
  $ui-secondary-color: $pink,
  // $primary-text-color: #000,
  $secondary-text-color: $classic-base-color,
  $ui-highlight-color: $dark-pink,
  $ui-button-background-color: $dark-blue,
  $ui-button-focus-background-color: darken($dark-blue, 15%),
  $ui-button-tertiary-color: $dark-blue,
  $ui-button-tertiary-border-color: $dark-blue,
  $ui-button-tertiary-focus-background-color: darken($dark-blue, 15%),
  $font-sans-serif: (
    'mastodon-font-sans-serif',
    'Noto Sans',
  ),

  // From mastodon-light/variables
  $success-green: color.adjust(
      hsl(138deg, 32%, 35%),
      $lightness: 8%,
      $space: hsl
    ),
  $base-overlay-background: $white,

  $ui-base-color: $classic-secondary-color,
  $ui-base-lighter-color: hsl(250deg, 24%, 75%),
  // $ui-secondary-color: $classic-base-color,
  $highlight-text-color: $dark-pink,

  $ui-button-secondary-color: $grey-600,
  $ui-button-secondary-border-color: $grey-600,
  $ui-button-secondary-focus-color: $white,
  // $ui-button-tertiary-color: $blurple-500,
  // $ui-button-tertiary-border-color: $blurple-500,
  $primary-text-color: $black,
  $darker-text-color: $classic-base-color,
  $lighter-text-color: $classic-base-color,
  // $highlight-text-color: $classic-highlight-color,
  $dark-text-color: hsl(240deg, 16%, 32%),
  $light-text-color: hsl(240deg, 16%, 32%),
  $inverted-text-color: $black,

  $action-button-color: hsl(240deg, 16%, 45%),
  $emojis-requiring-inversion: 'chains'
);
